.carousel {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #202124;
  }
 
  .carousel-image {
    width: 90%;
    height: auto;
    transition: opacity 0.5s ease-in-out;
  }
  
@media(max-width:750px){
    .carousel{
        height: 250px;
    }

    .carousel-image{
        border-radius: 10px;
    }
}